<div class="col-sm-7">
<div class="panel panel-info">
<div class="panel-heading">
  <div class="container">
<h4 id="g_title" val="0">add Item</h4>
</div>
</div>
<div id="Additem" class="panel-body">
  <div class="row">
    <div class="col-sm-12">
    <label>item</label>
    <input type="text" id="item" name="" value="" size="20" maxlength="20">
    <label>amount</label>
    <input type="text" id="amount" name="" value="" size="5" maxlength="4">
    <label>price</label>
    <input type="text" id="price" name="" value="" size="5" maxlength="4">
    <input type="hidden" id="user_id" name="" value="<%=current_user.id%>">
    <input type="hidden" id="user_name" name="" value="<%=current_user.name%>">
    <input type="hidden" id="order_id" name="" value="<%=@order.id%>">
    <button type="button" id="pushOrder" name="button">add</button><br/><br/>
    <label>comment</label>
    <input type="text" id="comment" name="" value="" size="30" maxlength="30">
   </div>
 </div>
  </div>
</div>
</div>
