<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					Latest Orders
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<li>
							  <span> <%# notification.created_at.strftime("%d %b. %Y") %></span>
							</li>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Friend's activties
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
