<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					Latest Orders
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<%= render "notifications/notification_center", notifications: @notifications %>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Friend's activties
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<a href="#">Someone has created an order</a><br>
							<a href="#">Someone has created an order</a>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
