<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					Latest Orders
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<% current_user.orders.each do |order|  %>
								<%=link_to(order.meal + " on " + order.created_at.strftime("%d %b. %Y") , user_order_order_details_path(user_id: current_user, order_id: order)) %><br>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Friend's activties
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
